Repository CeladonSS13/Foundation-19, pull requests merged in 2024-04, with the labels that each got.

#39 Updating the Ethics Committee Liaison class
  code/game/jobs/job/command.dm
Labels: Code

#37 добиваем 096
  code/modules/SCP/SCPs/SCP-096.dm
  mod_celadon/SCP096/_SCP096.dm
  mod_celadon/SCP096/_SCP096.dme
  mod_celadon/SCP096/code/SCP096.dm
  mod_celadon/SCP096/code/SCP096_OBJ.dm
  mod_celadon/SCP096/code/_macros.dm
  mod_celadon/SCP096/code/keybinds.dm
  mod_celadon/_components/code/_components.dm
  mod_celadon/mod_celadon.dme
Labels: Code

#46 Обновление документации и гита
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  mod_celadon/README.md
Labels: documentation, Github

#50 Update: обновление модуля
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  code/_helpers/text.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/devices/scanners/health.dm
  code/modules/asset_cache/assets/on_join.dm
  code/modules/organs/internal/brain.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
  html/changelogs/archive/2024-04.yml
  html/images/aiad.png
  html/images/amd.png
  html/images/cmax.png
  html/images/coc.png
  html/images/cotbg.png
  html/images/dcd.png
  html/images/fsd.png
  html/images/mcf.png
  html/images/misi.png
  html/images/pata.png
  html/images/raisa.png
  html/images/spc.png
  html/images/wws.png
  mod_celadon/CREATE_MOD.ps1
  mod_celadon/CREATE_MOD.py
  mod_celadon/CREATE_MOD.sh
  mod_celadon/README.md
  mod_celadon/_example/README.md
  mod_celadon/_example/_example.dm
  mod_celadon/_example/_example.dme
  mod_celadon/_example/code/example.dm
  mod_celadon/create_modpack.bat
  mod_celadon/example/_example.dm
  mod_celadon/example/_example.dme
Labels: documentation, Code, Github

#52 Внесен модпак тгуи
  tgui/packages/tgui/interfaces/ModpacksList.js
Labels: TGUI

#49 Малые фиксы карты
  mod_celadon/__maps/site53/site53-1.dmm
  mod_celadon/__maps/site53/site53-3.dmm
  mod_celadon/__maps/site53/site53-4.dmm
Labels: 🚨Не мёржить!🚨, 🔎 Требует рассмотрения 🔍, 🗺 Карты 🗺
